# General
.DS_Store
Thumbs.db

# Large caches/logs
.cache/*
!.cache/wal/**

# Build/temp
*.tmp
*.swp
*.swo

# Screenshots can be big; keep them if you want
# screenshots/*

# Ignore cache and modules
.config/discord/
.config/*/Cache/
.config/*/modules/


# Node/Python junk if any subfolders have projects
node_modules/
__pycache__/
